@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&family=Quicksand:wght@300;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;



}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
}

a {
    text-decoration: none;
    color: #000;
}


ul li {
    list-style-type: none;
}

.bullet-point {
    margin: 0 .5em;
}

hr {
    border: 2px solid;
    width: 10%;
    margin: 1%;
}

.heading {
    font-size: 2.5em;
    letter-spacing: .1em;
}
.heading:hover{
    color: rgb(255, 0, 0);
}

.container {
    display: block;
    /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr .9fr; */
    /* height: 600vh; */
    /* width: 100%; */
    
    /*delet after done*/

}

.bgblack {
    background-color: black;
}

.bgwhite {
    background-color: white;
}

.section {
    height: 100vh;
}

/*------------------------------------------section1 intro ------------------------------------------*/
.intro {
    color: #fff;
    background-image: url(../images/intro-bg.jpg);
    opacity: 100%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#intro-header {
    position: absolute;
    bottom: 3%;
    left: 3%;


}

#intro-header h1 {
    font-size: 3em;
}


.intro-social a {
    font-size: 1.3em;
    background-color: #fff;
}



.intro-social {
    display: flex;
    justify-content: flex-start;

}


#intro-header h3 {
    font-size: 1.5em;
    font-weight: 100;
}

.social-icon {
    border-radius: .2em;
    padding: .5em;
    margin-right: 8px;
    margin-top: 8px;
}



/*------------------------------------------section 2 about ------------------------------------------*/
.about-me {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 5% 3%;

}

.about-img {
    background-color: black;
    height: 600px;
    width: 600px;
    box-shadow: 0 0 5rem rgba(0,0,0,.4);
    max-width: 600px;
    max-height: 600px;
}

.about-img img {
    height: 100%;
    width: 100%;
    object-position: top;
    object-fit: cover;
}


.about-details {
    margin-left: 4%;
    max-width: 40%;
}



#about-me~hr {}

#about-me~p {
    line-height: 1.8em;
    font-family: sans-serif;
    font-size: 120%;
    font-weight: 100;
    margin: 2em 0;
    color: rgb(114, 113, 113);
}

#about-btn {
    font-size: 1em;
    font-weight: bold;
}

#about-btn:hover {

    color: rgb(209, 0, 0);
}


/*------------------------------------------ section3 work --------------------------------------*/
.work {
    background-image: url(../images/work-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* height: 100vh; */
    display: grid;
    padding: 10% 7%;
    color: #fff;
    column-gap: 2em;
    grid-template-rows: .2fr 1fr .4fr;
    grid-template-columns: 1fr 1fr;

}

.work-item1 {
    color: #fff;
    grid-column-start: 1;
    grid-column-end: 3;
}

.work-item1 hr {
    color: #fff;
    width: 5em;
}

.work-item2 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.work-item3 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.work-item2 li {
    margin-bottom: 2em;
}

.work-item3 li {
    margin-bottom: 2em;
}

.work li {
    line-height: 1.8em;
    color: #fff;
    font-size: 1.2em;
    font-weight: 100;
    margin: 2em 0;

}

.work-item4 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.item4-cats {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.workicon {
    width: 3.6em;
    margin: 1em auto;
}

.workicon h3 {
    font-size: 2em;
}

.test {
    text-align: center;



}



/*---------------------------------------section 3 portfolio ------------------------------------*/
.portfolio {
    padding: 7% 4%;

}

.port-head {
    margin-bottom: 3em;
}

.portfolio-item {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 220px 220px 220px;
    row-gap: 8px;
    column-gap: 8px;

}

.portfolio-item1 {
    
    grid-column-start: 1;
    grid-column-end: 2;

}

.portfolio-item2 {

    grid-column-start: 2;
    grid-column-end: 4;
}

.portfolio-item3 {

    grid-column-start: 1;
    grid-column-end: 2;
}

.portfolio-item4 {

    grid-column-start: 2;
    grid-column-end: 3;
}

.portfolio-item5 {

    grid-column-start: 3;
    grid-column-end: 4;
}

.portfolio-item6 {

    grid-column-start: 1;
    grid-column-end: 3;
}

.portfolio-item7 {

    grid-column-start: 3;
    grid-column-end: 4;
}

.port-img {
    height: 100%;
    width: 100%;
    
}
.port-img:hover{
    /* box-shadow: 0 0 5rem rgba(0,0,0,.4); */
    transform:scale(0.9, 0.9) ;
    transition: transform 600ms ease-in ;
}





/*----------------------------------------------intagram---------------------------------------------------------------*/
.insta-profile {
    padding: 2em 3em;

    background-image: url(../images/insta-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    color: #fff;
}



.insta-header {
    margin-bottom: 3em;
}

.insta-picture {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.insta-picture img {
    height: 300px;
    width: 300px;
}




/*---------------------------------------contact section ----------------------------------------------------*/
.contact {

    padding: 3em 2.5em;
    display: flex;
    justify-content: space-around;

}

.form-items {
    font-size: 1.5em;
    margin-bottom:.9em;
    
}
input{
    width: 100%;
}


.contact-form {
    padding: 2.2em;
}

.contact-form input {
    padding: .5em 2em;
    width: 100%;
    font-size: 1em;
}

.contact-form button {
    color: #fff;
    background-color: rgb(29, 27, 27);
    padding: .1em 1em;
    width: 35%;
    border: none;
    text-align: left;

}
.form-img{
    max-width: 500px;
    max-height: 520px;
    width: 500px;
    height: 520px;
    background-color:black; 
    margin-left: 5px;
}
#form-img{
    height:100%;
    width: 100%;
    object-fit: cover;
    object-align: center;
}
#contact-btn{
    color:#000000;
}
#contact-btn {
    color: rgb(0, 0, 0);
    border: 3px solid #000000;
    background-image: -webkit-linear-gradient(30deg, #ffffff 50%, transparent 50%);
    background-image: linear-gradient(30deg, #f0f0f0 50%, transparent 50%);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 0%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
  }
#contact-btn:hover{
    background-position: 100%;
    color: #ffffff;

}



/*---------------------------------------------footer--------------------------------------------------*/
.footer {
    padding: 2% 6%;

}

.foot-heading {
    letter-spacing: .3rem;
    font-size: 1rem;
    font-weight: bold;
}

.container-footer {
    text-align: center;
    color: #fff;
}

#footer-icon img {
    border-radius: 60%;
    width: 8%;
    height: 15%;
}

.insta-header~ul {
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: center;
}

.insta-header~ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.insta-header~ul>li {
    padding: 2% 2%;
    font-size: 1rem;

}

#footer-menu li a {
    color: #fff;

    text-decoration: none;
}

#links {
    margin-top: 1.5em;
}